{{ define "main" }}
<div id="events-page">
  <h1 class="text-3xl font-bold my-6 text-white">Upcoming Events</h1>
  {{ .Content }}
  <div id="events-grid"></div>
</div>

<script>
  const container = document.getElementById("events-grid");

  const TEST = [
  {
    "name": "Leeside Collision 31",
    "game": "SF6, UNI2, GGST",
    "date": "Saturday July 26th",
    "time": "1:00pm",
    "where": "Centre, Cork, Co. Cork, T12 DW62, Ireland",
    "signup": "https://www.start.gg/tournament/leeside-collision-31-1/details",
    "stream": "N/A",
    "details": "Leeside Collision returns for the 31st time!",
    "imgUrl": "leeside-collision-31-saturday-july-26th.png"
  },
  {
    "name": "Craicdown 9",
    "game": "Ultimate, Melee, SF6, Rivals 2, P+",
    "date": "Saturday July 12th",
    "time": "12:00pm",
    "where": "Academy Plaza Dublin",
    "signup": "https://www.start.gg/tournament/craicdown-9",
    "stream": "None",
    "details": "Regular brackets in Ultimate and Melee along with Street Fighter 6. Also we will be running both Rivals 2 and P+ in the morning starting at 10am.",
    "imgUrl": "craicdown-9-saturday-july-12th.png"
  },
  {
    "name": "FightHouse @ Cookes Thatch Bar",
    "game": "All Games",
    "date": "Every Tuesday",
    "time": "19:00",
    "where": "Cookes Thatch Bar, Galway",
    "signup": "https://www.facebook.com/FightHouseGalway",
    "stream": "https://www.twitch.tv/jimmypenguin",
    "details": "5 euro entry, bring your own set up area , monthly tournaments, weekly casuals.",
    "imgUrl": "fighthouse-@-cookes-thatch-bar-every-tuesday.png"
  }
]

  fetch("https://fullmeter.com/ifgcbot/src/events.json")
    .then(res => res.json())
    .then(events => {
      events.forEach(event => {
        const {
          name, game, date, time, where,
          signup, stream, details, imgUrl
        } = event;

        const card = document.createElement("section");
        card.className = "eventCard";

        const imgDiv = document.createElement("div");
        if (imgUrl && imgUrl.trim() !== "") {
          imgDiv.style.backgroundImage = `url(https://fullmeter.com/ifgcbot/src/images/${imgUrl})`;
        } else {
          imgDiv.innerHTML = `<div>No Image</div>`;
        }

        const main = document.createElement("main");
        main.innerHTML = `
          <h1>${name}</h1>
          <h3>${date} @ ${time}</h3>
          <h4>${where}</h4>
          ${game.toLowerCase() !== "multi" ? `<h2>${game}</h2>` : ""}
          <hr />
          <p>${details}</p>
          <div class="links">
            <p>
              ${signup && signup.toLowerCase() !== "none" && signup.toLowerCase() !== "n/a" ?
                `<a href="${signup}" target="_blank" rel="noopener">Go to start.gg!</a>` : ""}
            </p>
          </div>
        `;

        card.appendChild(imgDiv);
        card.appendChild(main);
        container.appendChild(card);
      }
      
    )
    })
    .catch(err => {
      console.error(err);
      TEST.forEach(event => {
        const {
          name, game, date, time, where,
          signup, stream, details, imgUrl
        } = event;

        const card = document.createElement("section");
        card.className = "eventCard";

        const imgDiv = document.createElement("div");
        if (imgUrl && imgUrl.trim() !== "") {
          imgDiv.style.backgroundImage = `url(https://fullmeter.com/ifgcbot/src/images/${imgUrl})`;
        } else {
          imgDiv.innerHTML = `<div>No Image</div>`;
        }

        const main = document.createElement("main");
        main.innerHTML = `
          <h1>${name}</h1>
          <h3>${date} @ ${time}</h3>
          <h4>${where}</h4>
          ${game.toLowerCase() !== "multi" ? `<h2>${game}</h2>` : ""}
          <hr />
          <p>${details}</p>
          <div class="links">
            <p>
              ${signup && signup.toLowerCase() !== "none" && signup.toLowerCase() !== "n/a" ?
                `<a href="${signup}" target="_blank" rel="noopener">Go to start.gg!</a>` : ""}
            </p>
          </div>
        `;

        card.appendChild(imgDiv);
        card.appendChild(main);
        container.appendChild(card);
      }
      
    )});
</script>
{{ end }}
