:root {
  --container-7xl: 87rem;

  --card-background: #e7e9e7;
  --card-text: #000000;
  --card-text-shade: #303030;
  --card-border: 1px solid #dedede;
  --card-shadow: 0px 0px 16px #00000024;

  --link-text: #06910f;

  @layer utilities {
    .prose {
      --tw-prose-links: var(--link-text);
      a {
        text-decoration: underline;
      }
    }
  }
}
.dark {
  --card-background: #36393f;
  --card-text: #ffffff;
  --card-text-shade: #bfbfbf;
  --card-border: 1px solid #424242;

  --link-text: #72da78;
}

#custom-home-page {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 1fr);


  @media (min-width: 468px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    
  }
  
  @media (min-width: 770px)  {
    .page-card .card-top {
      height: 170px !important;
    }
  }

  @media (min-width: 1100px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    .page-card .card-top {
      height: 200px !important;
    }
  }

  .page-card {
    background-color: var(--card-background);
    border-radius: 10px;
    border: var(--card-border);
    box-shadow: var(--card-shadow);

    .card-top {
      background-size: cover;
      background-position: center;
      height: 135px;
      background-repeat: no-repeat;
      border-radius: 10px 10px 0 0;
    }

    main {
      padding: 15px 20px 22px;

      h1 {
        font-size: 20px;
      }
    
      hr {
        margin: 3px 0px 8px;
        color: var(--link-text);
      }

      p {
        font-size: 15px;
        line-height: 1.5;
      }
    }
    
    
  }
}

.main-menu {
  padding-top: 20px;
  padding-bottom: 20px;
  .logo {
    max-width: 60px;
  }
}
#menu-blur {
  backdrop-filter: blur(40px);
  background-color: initial;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.25) 0px 25px 50px -12px
}

.discord-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));


  

  .discordCard {
    background-color: var(--card-background);
    color: var(--card-text);
    border-radius: 10px;
    padding: 14px;
    border: var(--card-border);
    box-shadow: var(--card-shadow);
    
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;

    .cardTop {
      display: flex;
      flex-direction: row;
      align-items: center;
      .text {
        margin-left: 10px;
        h1 {
          margin: 0;
          font-size: 21px;
          line-height: 1;
        }
      
        a {
          color: var(--link-text);
          font-size: 16px;
          text-decoration: underline;
        }
      }
      img {
        border-radius: 100%;
        max-width: 50px;
        max-height: 50px;
      }
    }
    
    p {
      margin: 8px 0 0;
      line-height: 1.35;
      font-size: 15px;
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));

    .discordCard {
      padding: 16px;
      .cardTop {
        .text {

          h1 {
            font-size: 25px;
            margin-bottom: 3px;
          }
          a {
            font-size: 18px;
          }
        }
        img {
          max-width: 80px;
          max-height: 80px;
        }
      }

      p {
        font-size: 16px;
      }
    }
    
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }


}

#events-page {
  #events-grid {
    margin-top: 40px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));


    @media (min-width: 768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .eventCard {
      background-color: var(--card-background);
      border-radius: 10px;
      border: var(--card-border);
      box-shadow: var(--card-shadow);


      > div {
        background-size: cover;
        background-position: top center;
        height: 220px;
        background-repeat: no-repeat;
        border-radius: 10px 10px 0 0;
      }

      img {
        border-radius: 10px 10px 0 0;
        width: 100%;
      }

      main {
        padding: 10px 20px;
        h1 {
          font-size: 26px;
          margin: 0;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        h3 {
          font-size: 17px;
          margin: 0;
          color: var(--card-text-shade);
        }
        h4 {
          font-size: 15px;
          margin: -5px 0 18px;
          color: var(--card-text-shade);
        }

        h2 {
          font-size: 20px;
          margin: 0;
        }
        hr {
          margin: 3px 0px 8px;
          color: var(--link-text);
        }
        p {
          margin: 0;
          line-height: 1.35;
          font-size: 14px;
          color: var(--card-text-shade);
        }
        .links {
          margin-top: 10px;
          a {
          color: var(--link-text);
          &:hover {
            text-decoration: underline;
          }
          }
          
        }
      }
    }
  }
}

