<div id="custom-home-page">
  <a href="/about" class="page-card">
    <div class="card-top" style='background-image: url("/images/about-us.jpg")'></div>
    <main>
      <h1>About Us</h1>
      <hr />
      <p>Running sets for over 15 years! Find out more about the IFGC, who we are and what we do.</p>
    </main>
    
  </a>
  <a href="/discords" class="page-card">
    <div class="card-top" style='background-image: url("/images/discords.png")'></div>
    <main>
      <h1>Discords</h1>
      <hr />
      <p>Join a server and get some games! We have servers for every game and every region.</p>
    </main>
  </a>
  <a href="/events" class="page-card">
    <div class="card-top" style='background-image: url("/images/events.jpg")'></div>
    <main>
      <h1>Events</h1>
      <hr />
      <p>Play in person at events all over the country! See what's coming up in your area.</p>
    </main>
  </a>
</div>
<section>
  {{ partial "recent-articles/main.html" . }}
</section>